

html,body {

    background-color: #21232A;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 85px;

}

button{
    padding: 10px  30px;
    background-color: tomato;
}
button:hover{
    background-color: red;
}
button:active{
    background-color: palevioletred;
    top: 12px ;
}

.misBotones {
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:17px;
	border:4px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:8px 24px;
    text-decoration:none;
}
.misBotones:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
 .misBotones:active {
	position:relative;
	top:1px;
}

.misBotones2 {
	background:linear-gradient(to bottom, #64ceff 5%, #1ea762 100%);
	background-color:#9a91b5;
	border-radius:17px;
	border:4px solid #3f0b94;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:8px 24px;
    text-decoration:none;
}
.misBotones2:hover {
	background:linear-gradient(to bottom, #adbdd1 5%, #07031f 100%);
	background-color:#7700ff;
}
 .misBotones3:active {
	position:relative;
	top:1px;
}